.bottom{
  width:1920px;
  height:6000px;
}

.top{
  background: #02020F;
  width:1920px;
  height:1441px;
  position: absolute;
  top: 0px;
  left: 0px;
}

@font-face {
  font-family: nico-moji;
  src:url("https://blogfonts.com/fonts/n/439/54439/file/NicoMoji-Regular.ttf");
}

.beat{
  position: absolute;
  width: 820px;
  height: 144px;
  left: 750px;
  top: 678px;
 font-family: 'nico-moji',cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
  line-height: 144px;
  color: #E7DDCE;
}

.circle{
  position: absolute;
  width: 915px;
  height: 915px;
  left: 103px;
  top: 235px;
  background: #A81B2D;
  border-radius: 457.5px;
}

.cloud1{
  position: absolute;
  width: 900px;
  height: 390.91px;
  left: -150px;
  top: 387px;
  background: url(cloud.png);
}

.coinbase{
position: absolute;
width: 215px;
height: 108px;
left: 323px;
top: 1236px;
}

.simply{
  position: absolute;
  width: 743px;
  height: 137px;
  left: 827px;
  top: 826px;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  text-align: right;
  margin-top: 80px;
  color: #E7DDCE;
}

